# Ignore me
/frontend/node_modules/
/frontend/public
/backend/app/public/wp-admin
/backend/app/public/wp-includes
/backend/app/public/wp-activate.php
/backend/app/public/wp-blog-header.php
/backend/app/public/wp-comments-posts.php
/backend/app/public/wp-cron.php
/backend/app/public/wp-links-opml.php
/backend/app/public/wp-load.php
/backend/app/public/wp-login.php
/backend/app/public/wp-mail.php
/backend/app/public/wp-settings.php
/backend/app/public/wp-signup.php
/backend/app/public/wp-trackback.php
/backend/app/public/xmlrpc.php
/backend/app/public/index.php
/backend/logs/nginx/error.log
/backend/logs/php/error.log
/frontend/cleanup.bat
# Do not ignore me
!/backend/local-site.json
!/backend/app/public/wp-config.php
!/backend/app/public/.htaccess
!/backend/app/public/wp-content
!/frontend/.env
!/frontend/.env.development
!/frontend/.env.production
