# Ignore me
/frontend/node_modules/
/frontend/public
/app/public/wp-admin
/app/public/wp-includes
/app/public/wp-activate.php
/app/public/wp-blog-header.php
/app/public/wp-comments-posts.php
/app/public/wp-cron.php
/app/public/wp-links-opml.php
/app/public/wp-load.php
/app/public/wp-login.php
/app/public/wp-mail.php
/app/public/wp-settings.php
/app/public/wp-signup.php
/app/public/wp-trackback.php
/app/public/xmlrpc.php
/app/public/index.php
# Do not ignore me
!local-site.json
!/app/public/wp-config.php
!/app/public/.htaccess
!/app/public/wp-content
!/frontend/.env
!/frontend/.env.development
!/frontend/.env.production
